<section>
    <div class="container container-description">
        <ul class="description-list">
            <li class="description-list__el">
                <div class="description-block">
                    <div class="icon description-icon">
                        <svg width="32" height="32">
                            <use href="./images/icons.svg#icon-description__chocolate"></use>
                        </svg>
                    </div>
                    <div class="description-texts">
                        <p class="description-text__1">
                            Unsurpassed taste
                        </p>
                        <p class="description-text__2">
                            Crafted with the finest quality cocoa beans and a dedication to perfection,
                            each bite is a decadent experience that simply cannot be matched.
                            Savor the richness and complexity of our Unsurpassed Taste
                            and discover a new level of chocolate bliss.
                        </p>
                    </div>
                </div>
                <div class="line"></div>
            </li>
            <li class="description-list__el">
                <div class="description-block__2">
                    <div class="icon description-icon">
                        <svg width="27" height="27">
                            <use href="./images/icons.svg#icon-description__coin"></use>
                        </svg>
                    </div>
                    <div class="description-texts__2">
                        <p class="description-text__1">
                            Affordable price
                        </p>
                        <p class="description-text__2">
                            Indulge in high-quality chocolate without breaking the bank
                            with Simply Chocolate's selection of affordable treats.
                            Enjoy mouth-watering truffles and velvety chocolate bars
                            without sacrificing taste or quality. Browse our selection
                            and indulge in affordable luxury today.
                        </p>
                    </div>
                </div>
                <div class="line"></div>
            </li>
            <li class="description-list__el">
                <div class="description-block">
                    <div class="icon description-icon">
                        <svg width="32" height="32">
                            <use href="./images/icons.svg#icon-description__spoon"></use>
                        </svg>
                    </div>
                    <div class="description-texts__3">
                        <p class="description-text__1">
                            Own production
                        </p>
                        <p class="description-text__2">
                            We take pride in our own production process,
                            ensuring that every step is carefully crafted to perfection.
                            From selecting the finest ingredients to handcrafting each piece,
                            our attention to detail is evident in every bite.
                        </p>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</section>