<footer>
    <div class="container footer-container">
        <h1 class="footer-headline">
            <span>Chocolate</span> a delicious cure for a bad day
        </h1>
        <div class="footer-contact">
            <p class="footer-contact__us">Contact us:</p>
            <ul class="footer-contact__ul">
                <li class="footer-contact__li"><a href="#" class="link">+380 (68) 443-94-26</a></li>
                <li class="footer-contact__li"><a href="#" class="link">simplychoc@gmail.com</a></li>
            </ul>
        </div>
        <div class="footer-block">
            <ul class="footer-nav">
                <li class="footer-nav__item"><a href="#" class="link">Home</a></li>
                <li class="footer-nav__item"><a href="#" class="link">How it’s made?</a></li>
                <li class="footer-nav__item"><a href="#" class="link">Chocolate is loved</a></li>
            </ul>
            <div class="footer-input">
                <label for="email"></label>
                <input type="email" class="input footer-email" id="email" name="email" placeholder="Enter your email">
                <button type="button" class="btn footer-btn">Subscribe</button>
            </div>
        </div>
    </div>
</footer>