<header>
    <div class="container header-container">
         <nav class="nav">
             <a href="#" class="link logo"><span class="span-link">SIMPLY</span> CHOCOLATE
                 <svg class="icon" width="24" height="24">
                     <use href="./images/icons.svg#logo-desktop_tablet"></use>
                 </svg>
             </a>
            <ul class="list menu-list">
                <li><a href="#" class="link">Home</a></li>
                <li><a href="#" class="link">How it’s made?</a></li>
                <li><a href="#" class="link"></a>Chocolate is loved</li>
            </ul>
        </nav>
        <address class="address">
            <ul class="list address-list">
                <li><a href="#" class="link">
                        <svg class="icon" width="24" height="24">
                            <use href="./images/icons.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" class="link">
                        <svg class="icon" width="24" height="24">
                            <use href="./images/icons.svg#twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </address>
    </div>
</header>
