<header>
    <div class="container header-container">
        <a href="#" class="link logo"><span class="span-link">SIMPLY</span> CHOCOLATE
            <svg class="icon icon-logo" width="24" height="24">
                <use href="./images/icons.svg#logo-desktop_tablet"></use>
            </svg>
        </a>
         <nav class="nav">
            <ul class="list menu-list">
                <li><a href="#" class="link">Home</a></li>
                <li><a href="#" class="link">How it’s made?</a></li>
                <li><a href="#" class="link">Chocolate is loved</a></li>
            </ul>
             <ul class="list address-list">
                 <li>
                     <a href="#" class="link">
                         <svg class="icon address-icon" width="24" height="24">
                             <use href="./images/icons.svg#instagram"></use>
                         </svg>
                     </a>
                 </li>
                 <li>
                     <a href="#" class="link">
                         <svg class="icon address-icon" width="24" height="24">
                             <use href="./images/icons.svg#twitter"></use>
                         </svg>
                     </a>
                 </li>
             </ul>
             <svg class="header-menu__x-close" width="28px" height="28px">
                 <use href="./images/icons.svg#header-menu__x-close"></use>
             </svg>
        </nav>
        <svg class="header-menu" width="28px" height="28px">
            <use href="./images/icons.svg#header-menu"></use>
        </svg>
    </div>
</header>
