<section>
    <div class="container container-hero">
        <div class="hero-block">
            <div class="span-block">
                Treat yourself or a loved one to
                our finest ingredients for a moment
                of pure delight!
            </div>
            <div class="btns-block">
                <div class="hero-btns">
                    <a href="#" class="link">
                        <div class="hero-btn hero-btn1">
                            <span class="span-btn">Buy now</span>
                        </div>
                    </a>
                    <a href="#" class="link">
                        <div class="hero-btn hero-btn2">
                            <span class="span-btn2">How it's made</span>
                        </div>
                    </a>
                </div>
                <div class="scroll">
                    <a href="#" class="link">
                        <div class="scroll-text">
                            scroll down
                        </div>
                    </a>
                    <a href="#" class="link">
                        <div class="scroll-btn">
                            <svg width="38" height="38">
                                <use href="./images/icons.svg#ellipse_1"></use>
                            </svg>
                            <svg class="scroll-arrow" width="22" height="22">
                                <use href="./images/icons.svg#arrow_down"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>