<section id="tastes">
    <div class="container taste-container">
        <div class="taste-about">
            <h2 class="headline taste">
                IT ALL ADDS UP TO ONE EXCEPTIONAL <span>TASTE</span> SENSATION
            </h2>
            <p class="taste-about__description">
                At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details.
                From the sourcing of the finest ingredients to the careful crafting of each individual piece,
                every step of our process adds up to one exceptional taste sensation.
            </p>
        </div>
        <ul class="taste-cards">
            <div class="taste-cards__column">
                <li class="taste-card">
                    <div class="taste-card__preview card-orange">
                        <picture>
                            <source
                                    media="(max-width: 1200px)"
                                    srcset="./images/chocolate-img-desktop-x1.png 1x,
                                            ./images/chocolate-img-desktop-x2.png 2x"
                            />
                            <source
                                    media="(max-width: 768px)"
                                    srcset="./images/chocolate-img-tablet_mobile-x1.png 1x,
                                            ./images/chocolate-img-tablet_mobile-x2.png 2x"
                            />
                            <img class="taste-card__img" src="./images/chocolate-img-desktop-x1.png" alt="chocolate"/>
                        </picture>
                        <p class="taste-card__name">
                            MILK CHOCOLATE
                        </p>
                    </div>
                    <div class="taste-card__description">
                        <div class="taste-card__description-block">
                            <div class="taste-card__description-about">
                            <span class="taste-card__description-about__headline">
                                MILK CHOCOLATE
                            </span>
                                <div class="taste-card__description-about__btns">
                                    <button type="button" class="taste-card__description-about__btn">
                                        chocolate
                                    </button>
                                    <button type="button" class="taste-card__description-about__btn">
                                        the benefits
                                    </button>
                                </div>
                            </div>
                            <p class="taste-card__description-text">
                                Milk chocolate is a solid chocolate confectionery containing cocoa,
                                sugar and milk. It is the most consumed type of chocolate.
                                Chocolate was originally sold and consumed as a beverage in pre-Columbian times.
                                Although four-fifths of all milk chocolate is sold in the United States and Europe.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="taste-card">
                    <div class="taste-card__preview card-white">
                        <picture>
                            <source
                                    media="(max-width: 1200px)"
                                    srcset="./images/milk-img-desktop-x1.png 1x,
                                            ./images/milk-img-desktop-x2.png 2x"
                            />
                            <source
                                    media="(max-width: 768px)"
                                    srcset="./images/milk-img-tablet_mobile-x1.png 1x,
                                            ./images/milk-img-tablet_mobile-x2.png 2x"
                            />
                            <img class="taste-card__img" src="./images/milk-img-desktop-x1.png" alt="milk"/>
                        </picture>
                        <p class="taste-card__name black">
                            MILK
                        </p>
                    </div>
                    <div class="taste-card__description">
                        <div class="taste-card__description-block">
                            <div class="taste-card__description-about">
                            <span class="taste-card__description-about__headline">
                                MILK
                            </span>
                                <div class="taste-card__description-about__btns">
                                    <button type="button" class="btn taste-card__description-about__btn">
                                        milk
                                    </button>
                                    <button type="button" class="btn taste-card__description-about__btn">
                                        the benefits
                                    </button>
                                </div>
                            </div>
                            <p class="taste-card__description-text">
                                Milk is white liquid food produced by the mammary glands of mammals.
                                It is the primary source of nutrition for young mammals (including breastfed human infants)
                                before they are able to digest solid food.Early-lactation milk, which is called colostrum,
                                contains antibodies that strengthen the immune system.
                            </p>
                        </div>
                    </div>
                </li>
            </div>
            <div class="taste-cards__column">
                <li class="taste-card">
                    <div class="taste-card__preview card-black">
                        <picture>
                            <source
                                    media="(max-width: 1200px)"
                                    srcset="./images/nuts-img-desktop-x1.png 1x,
                                            ./images/nuts-img-desktop-x2.png 2x"
                            />
                            <source
                                    media="(max-width: 768px)"
                                    srcset="./images/nuts-img-tablet_mobile-x1.png 1x,
                                            ./images/nuts-img-tablet_mobile-x2.png 2x"
                            />
                            <img class="taste-card__img" src="./images/nuts-img-desktop-x1.png" alt="nuts"/>
                        </picture>
                        <p class="taste-card__name">
                            NUTS
                        </p>
                    </div>
                    <div class="taste-card__description">
                        <div class="taste-card__description-block">
                            <div class="taste-card__description-about">
                            <span class="taste-card__description-about__headline">
                                NUTS
                            </span>
                                <div class="taste-card__description-about__btns">
                                    <button type="button" class="btn taste-card__description-about__btn">
                                        nuts
                                    </button>
                                    <button type="button" class="btn taste-card__description-about__btn">
                                        the benefits
                                    </button>
                                </div>
                            </div>
                            <p class="taste-card__description-text">
                                Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients.
                                When eaten as part of a nutrient-dense diet,
                                these 9 nuts may offer benefits such as reducing your risk of heart disease.
                                They’re a good source of fiber, healthy fats, and plant protein. Plus,
                                they’re great on their own.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="taste-card">
                    <div class="taste-card__preview card-white">
                        <picture>
                            <source
                                    media="(max-width: 1200px)"
                                    srcset="./images/semi-img-desktop-x1.png 1x,
                                            ./images/semi-img-desktop-x2.png 2x"
                            />
                            <source
                                    media="(max-width: 768px)"
                                    srcset="./images/semi-img-tablet_mobile-x1.png 1x,
                                            ./images/semi-img-tablet_mobile-x2.png 2x"
                            />
                            <img class="taste-card__img" src="./images/semi-img-desktop-x1.png" alt="semi"/>
                        </picture>
                        <p class="taste-card__name black">
                            SEMI
                        </p>
                    </div>
                    <div class="taste-card__description">
                        <div class="taste-card__description-block">
                            <div class="taste-card__description-about">
                            <span class="taste-card__description-about__headline">
                                SEMI
                            </span>
                                <div class="taste-card__description-about__btns">
                                    <button type="button" class="btn taste-card__description-about__btn">
                                        semi
                                    </button>
                                    <button type="button" class="btn taste-card__description-about__btn">
                                        the benefits
                                    </button>
                                </div>
                            </div>
                            <p class="taste-card__description-text">
                                Semi-sweet chocolate has a cocoa solid content of 35 to 65%.
                                One of the best ways to gain an understanding of this type of chocolate
                                is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate.
                                In a taste comparison, it has a slightly bitter taste whereas milk chocolate is sweeter
                                and more mellow.
                            </p>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</section>
