<section>
    <div class="container taste-container">
        <div class="taste-about">
            <h2 class="taste-about__headline">
                IT ALL ADDS UP TO ONE EXCEPTIONAL <span>TASTE</span> SENSATION
            </h2>
            <p class="taste-about__description">
                At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details.
                From the sourcing of the finest ingredients to the careful crafting of each individual piece,
                every step of our process adds up to one exceptional taste sensation.
            </p>
        </div>
        <ul class="taste-cards">
            <li class="taste-card">
                <div class="taste-card__preview card-orange">
                    <img class="taste-card__img" alt="chocolate" src="./images/chocolate-img-desktop-x1.png"/>
                    <p class="taste-card__name">
                        MILK CHOCOLATE
                    </p>
                </div>
                <div class="taste-card__description">
                    <div class="taste-card__description-block">
                        <div class="taste-card__description-about">
                            <span class="taste-card__description-about__headline">
                                MILK CHOCOLATE
                            </span>
                            <div class="taste-card__description-about__btns">
                                <button type="button" class="taste-card__description-about__btn">
                                    chocolate
                                </button>
                                <button type="button" class="taste-card__description-about__btn">
                                    the benefits
                                </button>
                            </div>
                        </div>
                        <p class="taste-card__description-text">
                            Milk chocolate is a solid chocolate confectionery containing cocoa,
                            sugar and milk. It is the most consumed type of chocolate.
                            Chocolate was originally sold and consumed as a beverage in pre-Columbian times.
                            Although four-fifths of all milk chocolate is sold in the United States and Europe.
                        </p>
                    </div>
                </div>
            </li>
            <li class="taste-card">
                <div class="taste-card__preview card-white">
                    <img class="taste-card__img" alt="milk" src="./images/milk-img-desktop-x1.png"/>
                    <p class="taste-card__name">
                        MILK
                    </p>
                </div>
                <div class="taste-card__description">
                    <div class="taste-card__description-block">
                        <div class="taste-card__description-about">
                            <span class="taste-card__description-about__headline">
                                MILK
                            </span>
                            <div class="taste-card__description-about__btns">
                                <button type="button" class="taste-card__description-about__btn">
                                    milk
                                </button>
                                <button type="button" class="taste-card__description-about__btn">
                                    the benefits
                                </button>
                            </div>
                        </div>
                        <p class="taste-card__description-text">
                            Milk <!--a--> is white liquid food produced by the mammary glands of mammals.
                            It is the primary source of nutrition for young mammals (including breastfed human infants)
                            before they are able to digest solid food.Early-lactation milk, which is called colostrum,
                            contains antibodies that strengthen the immune system.
                        </p>
                    </div>
                </div>
            </li>
            <li class="taste-card">
                <div class="taste-card__preview card-black">
                    <img class="taste-card__img" alt="nuts" src="./images/nuts-img-desktop-x1.png"/>
                    <p class="taste-card__name">
                        NUTS
                    </p>
                </div>
                <div class="taste-card__description">
                    <div class="taste-card__description-block">
                        <div class="taste-card__description-about">
                            <span class="taste-card__description-about__headline">
                                NUTS
                            </span>
                            <div class="taste-card__description-about__btns">
                                <button type="button" class="taste-card__description-about__btn">
                                    nuts
                                </button>
                                <button type="button" class="taste-card__description-about__btn">
                                    the benefits
                                </button>
                            </div>
                        </div>
                        <p class="taste-card__description-text">
                            Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients.
                            When eaten as part of a nutrient-dense diet,
                            these 9 nuts may offer benefits such as reducing your risk of heart disease.
                            They’re a good source of fiber, healthy fats, and plant protein. Plus,
                            they’re great on their own.
                        </p>
                    </div>
                </div>
            </li>
            <li class="taste-card">
                <div class="taste-card__preview card-white">
                    <img class="taste-card__img" alt="semi" src="./images/semi-img-desktop-x1.png"/>
                    <p class="taste-card__name">
                        SEMI
                    </p>
                </div>
                <div class="taste-card__description">
                    <div class="taste-card__description-block">
                        <div class="taste-card__description-about">
                            <span class="taste-card__description-about__headline">
                                SEMI
                            </span>
                            <div class="taste-card__description-about__btns">
                                <button type="button" class="taste-card__description-about__btn">
                                    semi
                                </button>
                                <button type="button" class="taste-card__description-about__btn">
                                    the benefits
                                </button>
                            </div>
                        </div>
                        <p class="taste-card__description-text">
                            Semi-sweet chocolate has a cocoa solid content of 35 to 65%.
                            One of the best ways to gain an understanding of this type of chocolate
                            is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate.
                            In a taste comparison, it has a slightly bitter taste whereas milk chocolate is sweeter
                            and more mellow.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
