body {
    font-family: var(--main-ff);
    background: var(--light-gray-color);
}
.container {
    max-width: 1200px;
    width: 1136px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.link {
    text-decoration: none;
    color: var(--primary-color);
}

.icon {

}

.btn {
    font-weight: 600;
    border-radius: 100px;
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 12px 28px;
}

.input {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    box-sizing: border-box;

}

.headline {
    color: var(--primary-color);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.headline span {
    color: var(--orange-color)
}

@media (max-width: 768px) {

    .container {
        max-width: 768px;
        width: 704px;
    }
}

@media (max-width: 375px) {
    .container {
        max-width: 375px;
        width: 335px;
    }
}