.header-container {
    padding-top: 24px;
    padding-bottom: 32px;

    display: flex;
    justify-content: space-between;
    gap: 447px;

}

.nav {
    display: inline-flex;
    align-items: center;
    gap: 90px;
}

.span-link {
    font-style: italic;
}

.list {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.logo {
    display: inline-flex;
    align-items: center;
    gap: 4px;


    font-size: 18px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: -0.54px;
}

.menu-list {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -0.28px;
}

.address-list {
    display: flex;
    justify-content: space-between;
    gap: 18px
}

.address-icon {
    stroke: var(--primary-color)
}

.address-icon:hover {
    stroke: var(--orange-color);
}

.link:hover {
    color: var(--orange-color);
}

.header-menu {
    display: none;
}

.header-menu__x-close {
    display: none;
    stroke: white;
}

.header-menu__x-close:hover {
    stroke: var(--orange-color);
}


@media (max-width: 768px) {
    .header-container {
        gap: 101px;
    }

    .nav {
        gap: 48px;
    }

    .logo {
        font-size: 14px;
    }

    .icon-logo {
        width: 21px;
        height: 21px;
    }


}

@media (max-width: 375px) {
    .header-container {
        padding-top: 20px;
        padding-bottom: 14px;

        gap: 138px;
    }

    .header-menu {
        display: block;
    }

    .nav {
        display: none;

        width: 220px;
        height: 812px;

        background: var(--seconday-color);

        position: absolute;
        top: 0;
        right: 0;
    }

    .header-menu__x-close {
        display: block;

        position: absolute;
        top: 20px;
        right: 20px;
    }

    .menu-list {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;

        position: absolute;
        top: 136px;
        left: 48px;
    }
    .menu-list a {
        color: white;
    }

    .address-list {
        position: absolute;
        left: 20px;
        bottom: 20px;
    }

    .address-icon {
        stroke: white;
    }
}