.made-container {
    margin-bottom: 100px;

    display: flex;
    height: 478px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    flex-shrink: 0;
}

.made-block {
    display: flex;
    height: 400px;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
}
.made-img {
    width: 600px;
    height: 400px;
}
.made-description {
    display: flex;
    width: 516px;
    height: 400px;
    padding: 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 15px;
    background: white;
}

.made-description__block {
    display: flex;
    width: 452px;
    height: 336px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    flex-shrink: 0;
}

.made-description__p {
    width: 350px;

    color: var(--primary-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
}

.made-description__ul {
    display: flex;
    width: 452px;
    height: 260px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    list-style: initial;
}

.made-description__li {
    color: var(--primary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
}

@media (max-width: 768px) {
    .made-container {
        margin-bottom: 80px;

        height: 825px;
        width: 614px;
        gap: 20px;
    }

    .made-block {
        flex-direction: column;
    }

    .made-img {
        width: 614px;
        height: 400px;
    }

    .made-description {
        width: 614px;
        height: 356px;
        padding: 32px;
    }

    .made-description__ul {
        gap: 18px;
    }

    .made-description__block {
        width: 550px;
        height: 292px;
    }
}

@media (max-width: 375px) {
    .made-container {
        width: 335px;
        height: 1032px;

        margin-bottom: 60px;

        gap: 32px;
    }

    .made-block {
        width: 335px;
        height: 976px;
    }

    .made-img {
        width: 335px;
        height: 500px;
    }

    .made-description {
        width: 335px;
        height: 456px;

        padding: 20px 14px;
    }

    .made-description__block {
        width: 307px;
        height: 416px;

        gap: 20px;
    }

    .made-description__p {
        width: 307px;
    }

    .made-description__ul {
        width: 307px;
        height: 324px;
    }

    .made-description__li {
        width: 291px;
        margin-left: 16px;
    }
}

