.taste-container {
    margin-bottom: 100px;

    display: flex;
    height: 476px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    flex-shrink: 0;
}

.taste-about {
    display: flex;
    width: 486px;
    height: 156px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    flex-shrink: 0;
}

.headline.taste {
    width: 411px;
}

.taste-about__description {
    width: 486px;

    color: var(--primary-color);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
}

.taste-cards {
    display: flex;
    align-items: flex-start;
    gap: 19px;
}

.taste-cards__column {
    display: flex;
    gap: 19px;
}

.taste-card {
    position: relative;
    width: 270px;
    height: 270px;
}

.taste-card__preview {
    display: flex;
    padding: 28px 36px 28px 28px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 36px;

    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.card-orange {
    border-radius: 15px;
    background: var(--orange-color);
}

.card-white {
    border-radius: 15px;
    border: 1px solid var(--orange-color);
    background: white;
}

.card-black {
    border-radius: 15px;
    background: var(--seconday-color);
}

.taste-card__name {
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    text-transform: uppercase;
}

.taste-card__name.black {
    color: var(--primary-color);
}

.taste-card__img {
    width: 206px;
    height: 160px;
}

.taste-card__description {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    border: 1px solid var(--orange-color);
    background: white;

    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s;
    transform: rotateY(180deg);
}

.taste-card:hover .taste-card__preview {
    transform: rotateY(180deg);
}

.taste-card:hover .taste-card__description {
    transform: rotateY(0deg);
}

.taste-card__description-block {
    display: flex;
    width: 230px;
    height: 230px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    flex-shrink: 0;
}

.taste-card__description-text {
    width: 230px;
    height: 162px;
    flex-shrink: 0;

    overflow: hidden;
    color: var(--primary-color);
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
}

.taste-card__description-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.taste-card__description-about__headline {
    color: var(--primary-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
}

.taste-card__description-about__btns {
    display: flex;
    align-items: flex-start;
    gap: 6px;

}

.taste-card__description-about__btn {
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 35px;
    border: 1px solid var(--orange-color);
    background: white;

    color: var(--primary-color);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 120% */
}

.taste-card__description-about__btn:hover {
    background: var(--orange-color);

    color: white;
}

@media (max-width: 768px) {
    .taste-container {
        height: 778px;

        margin-bottom: 80px;
    }

     .taste-cards {
         display: flex;
         width: 704px;
         height: 572px;
         flex-wrap: wrap;
         justify-content: center;
         flex-direction: column;
         align-content: stretch;
         gap: 32px;
     }

     .taste-cards__column {
         display: flex;
         width: 336px;
         height: 572px;
         flex-direction: column;
         align-items: flex-start;
         gap: 32px;
         flex-shrink: 0;
     }

     .taste-cards__column:last-of-type {
         flex-direction: column-reverse;
     }

    .taste-card__preview {
        width: 336px;
        height: 270px;

        justify-content: normal;

        padding: 28px 56px 71px;
    }

     .taste-card__img {
         width: 224px;
         height: 171px;

     }

     .taste-card__name {
         position: absolute;
         left: 28px;
         bottom: 28px;
     }

     .taste-card__description {
        padding: 28px;
     }

     .taste-card__description-block {
         width: 280px;
         height: 214px;
     }

     .taste-card__description-text {
         width: 280px;
         height: 146px;
     }
}




