:root{
    /* Colors */
    --primary-color: #111111;
    --seconday-color: #1E1823;
    --orange-color: #FD9222;
    --linen-color: #FCF1E0;
    --light-gray-color: #FAFAFA;

    /* Fonts */
    --main-ff: 'Montserrat', sans-serif;

    /* Other */
    --trn-main-transition-params: 340ms cubic-bezier(0.39, 0.46, 0.02, 0.86);
}